body::-webkit-scrollbar {
    display: none;
}

html, body {
    overflow: auto;
    height: 100%;
}

body{
    scrollbar-width: none;
    background-color: black;
    color: white;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
}

a{
  text-decoration: none;
  color: white;
}

button{
    border: none;
    background-color: #d17f36;
    padding: 10px;
    cursor: pointer;
    color: black;
    border-radius: 1rem;
}

.seccion-header{
    display: flex;
    padding: 5px;
}

#header-seccion1{
    background-color: #d17f36;
    color: black;
}

#header-seccion2{
    display: flex;
    flex-direction: row;
    padding: 0 5px 0;
}

#a-sm{
    display: flex;
    padding: 10px;
    margin-left: auto;
}

#p-h{
    display: flex;
    padding: 10px;
}

#barra-nav{
    display: flex;
    justify-self: center;
    align-items: center;
    margin-top: auto;
    margin-bottom: auto;
    padding: 5px;
}

#barra-nav  ul {
    display: flex;
    list-style-type: none;
    padding: 10px;
}


#barra-nav  ul  li{
    padding: 10px;
}

.redes-sociales{
    display: flex;
    justify-content: center;
    width: 75%;
    height: auto;
}

#logo-inicio{
    margin: 0 10px 10px;
    padding: 10px;
    width: 5rem;
    height: auto;
}

#btn-buscar{
    margin-top: auto;
    margin-bottom: auto;
    width: 10cm;
    padding: 7px;
    height: auto;
    color: #d17f36;
    border: 1px solid;
    border-radius: 1rem;
    border-color: #d17f36;
    background-color: transparent;
}

#nav-opciones{
    display: flex;
    margin-left: 10px;
}

#reddot{
    padding: 5px;
    width: 13px;
    height: 13px;
}

#btn-avatar img{
    display: block;
    width: 50px;
    height: auto;
    margin-left: auto;
    
}

#avatar-carrito {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 5px;
    width: 100%;
}


#btn-carrito{
    width: auto;
    height: auto;
    margin: 0;
    background-color: transparent;
}

#btn-avatar{
    background-color: transparent;
}


#btn-carrito svg{
    display: block;
    padding: 1px;
    margin: none;
}

#footer-section-main{
    display: flex;
    justify-content: center;
    flex-direction: row;
    height: 300px;
}

#footer-section-main > section{
    width: 250px;
}

#footer-newsletter-form{
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 5px;
    margin: 0;
    border: white 1px solid;
}

#footer-logo{
     width: 100px;
     height: auto;
}

.footer-section{
    display: flex;
    flex-direction: column;
    padding: 10px;
}

#footer-section-main section h3{
    color: red;
}

#footer-container-socialmedia{
    flex-direction: row;
}

#footer-section-5{
    color: #d17f36;
    padding: 2px;
    border-top: 1px solid #d17f36;
}

#footer-section-5 p{
    margin-left: 30px;
}

main section {
    margin: 0 30px 0;
}


